<h1>Edit <%=@book.title%></h1>
<form method="Post" action="/books/<%=@book.slug%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Book Title: </label><input type="text" size="100" name="book_title" value="<%=@book.title%>"/><br><br>
  <label>Book Summary: </label><input type="text" size="200" name="book_summary" value="<%=@book.summary%>"/><br><br>
  <label>Year Published: </label><input type="text" name="book_year_published" value="<%=@book.year_published%>"/><br><br>
  <label>Content: </label><input type="text" size="200" name="book_content" value="<%=@book.content%>"/><br>

  <h2>Category</h2>
  <%Category.all.each do |cat|%><br>
  <label><%=cat.name%></label>
  <input type="checkbox" name="category_id" value="<%=cat.id%>" <%='checked' if cat==@book.category%>/>
  <%end%>
  <br><br><input type="submit" value="Save Changes">
  </form>

  <form method="Get" action="/books/<%=@book.slug%>">
  <input type="submit" value="Never Mind">
  </form>
