<h2><%=@book.title%></h2><br>
Summary: <%=@book.summary%><br><br>
Category: <%=@book.category%><br><br>
Author: <%=@book.author%><br><br>
Year Published: <%=@book.year_published%><br><br>

<a href='/books'>Return to All Books</a>
<a href='/edit'>Edit</a>
<a href='/delete'>Delete</a>
